<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.v4" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="XPlat.Core" version="1.2.17207.1" targetFramework="monoandroid71" />
  <package id="XPlat.Device.Display" version="1.2.17207.1" targetFramework="monoandroid71" />
  <package id="XPlat.Device.Geolocation" version="1.2.17207.1" targetFramework="monoandroid71" />
  <package id="XPlat.Device.Launcher" version="1.2.17207.1" targetFramework="monoandroid71" />
  <package id="XPlat.Device.Power" version="1.2.17207.1" targetFramework="monoandroid71" />
  <package id="XPlat.Media" version="1.2.17207.1" targetFramework="monoandroid71" />
  <package id="XPlat.Storage" version="1.2.17207.1" targetFramework="monoandroid71" />
  <package id="XPlat.UI.Core" version="1.2.17207.1" targetFramework="monoandroid71" />
</packages>