<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="23.4.0.1" targetFramework="monoandroid60" />
  <package id="XPlat.Core" version="1.2.17137.3" targetFramework="monoandroid60" />
  <package id="XPlat.Device.Display" version="1.2.17137.3" targetFramework="monoandroid60" />
  <package id="XPlat.Device.Geolocation" version="1.2.17137.3" targetFramework="monoandroid60" />
  <package id="XPlat.Device.Power" version="1.2.17137.3" targetFramework="monoandroid60" />
  <package id="XPlat.Media" version="1.2.17137.3" targetFramework="monoandroid60" />
  <package id="XPlat.Storage" version="1.2.17137.3" targetFramework="monoandroid60" />
  <package id="XPlat.UI.Core" version="1.2.17137.3" targetFramework="monoandroid60" />
</packages>